In [4]:
# Import libraries
import json, csv
import pandas as pd

In [10]:
# Open JSON file store to data_file
data_file = open('yelp_academic_dataset_review.json', encoding='utf-8')

# Initialize an empty list to store data
data = []

# Read each line in the file and append as JSON object to the list
for line in data_file:
    data.append(json.loads(line))
    
# Create a dataframe using the collected data
review_df = pd.DataFrame(data)
data_file.close()

# Open JSON file store to data_file
data_file = open('yelp_academic_dataset_business.json', encoding='utf-8')

# Initialize an empty list to store data
data = []

# Read each line in the file and append as JSON object to the list
for line in data_file:
    data.append(json.loads(line))

# Create a dataframe using the collected data
business_df = pd.DataFrame(data)
data_file.close()

In [156]:
# List of DataFrame
dfs = [review_df, business_df] 
# Loop through each DataFrame and display first 5 rows for each Dataframe
for df in dfs:
    display(df.head(5))
    display(df.info())

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6990280 entries, 0 to 6990279
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        float64
 4   useful       int64
 5   funny        int64
 6   cool         int64
 7   text         object
 8   date         object
dtypes: float64(1), int64(3), object(5)
memory usage: 480.0+ MB

None

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 16.1+ MB

None

In [11]:
# Merge dataframe on 'business_id' column using outer join
merged_df = pd.merge(business_df, review_df, on ='business_id', how = 'outer')
merged_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,review_count,...,categories,hours,review_id,user_id,stars_y,useful,funny,cool,text,date
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,...,"Doctors, Traditional Chinese Medicine, Naturop...",None,9vwYDBVI3ymdqcyJ5WW2Tg,e0imecnX_9MtLnS2rUZM-A,5.0,3,2,1,I've had acupuncture treatments with Abby over...,2012-05-02 18:07:38
1,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,...,"Doctors, Traditional Chinese Medicine, Naturop...",None,OXgg1LdxHDv3CBU5-xi2lA,_Q0fdLVoTnlNkEypUvNkHA,5.0,1,0,0,Abby is an amazing practitioner. In a treatmen...,2013-03-01 06:11:05
2,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,...,"Doctors, Traditional Chinese Medicine, Naturop...",None,DG64cjud9cWB4fANskVxSw,ycUooVIDWPgXPf6niW-FWQ,4.0,2,0,0,I went to see Abby for some digestive issues. ...,2013-01-17 00:05:43
3,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,...,"Doctors, Traditional Chinese Medicine, Naturop...",None,hzvRRb40oPttxAdyr7kfow,CiwVvb7jWijWB5jkmatzKA,5.0,0,1,0,"Abby helped me with some longstanding issues, ...",2015-03-16 03:43:08
4,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,...,"Doctors, Traditional Chinese Medicine, Naturop...",None,xUkBPk-QfcW4i3MRU5TeXw,QkCbMKBktkrkOFJugHvY6w,5.0,0,0,0,"Recently, I referred a patient of mine with mu...",2013-03-05 18:45:07

In [12]:
# Display merged_df summary
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6990280 entries, 0 to 6990279
Data columns (total 22 columns):
 #   Column        Dtype
---  ------        -----
 0   business_id   object
 1   name          object
 2   address       object
 3   city          object
 4   state         object
 5   postal_code   object
 6   latitude      float64
 7   longitude     float64
 8   stars_x       float64
 9   review_count  int64
 10  is_open       int64
 11  attributes    object
 12  categories    object
 13  hours         object
 14  review_id     object
 15  user_id       object
 16  stars_y       float64
 17  useful        int64
 18  funny         int64
 19  cool          int64
 20  text          object
 21  date          object
dtypes: float64(4), int64(5), object(13)
memory usage: 1.1+ GB

In [13]:
# Rename the columns
merged_df.rename({"stars_x": "business_stars", "stars_y": "user_stars"}, axis = "columns", inplace = True)

# Filter merged_df with 'name' column keep row with 'Starbuck' only
df_starbucks = merged_df.loc[merged_df['name'] == 'Starbucks']\

# Display summary of df_starbuck
df_starbucks.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,business_stars,review_count,...,categories,hours,review_id,user_id,user_stars,useful,funny,cool,text,date
30330,6_Zf2QsRHCH1RhbzA9inyw,Starbucks,8602 Hillsborough Ave,Tampa,FL,33615,27.99637,-82.580954,3.0,56,...,"Coffee & Tea, Food","{'Monday': '5:30-21:0', 'Tuesday': '5:30-21:0'...",CT-IRimb5TJ08bK_95ulNw,9nep_HxlB-VrG6nvtSWK-A,5.0,2,0,0,My favorite Starbucks! The employees are excel...,2013-02-22 14:40:52
30331,6_Zf2QsRHCH1RhbzA9inyw,Starbucks,8602 Hillsborough Ave,Tampa,FL,33615,27.99637,-82.580954,3.0,56,...,"Coffee & Tea, Food","{'Monday': '5:30-21:0', 'Tuesday': '5:30-21:0'...",jqCKWfK4dcE4YC1T-ZjgzQ,7n_Z6Du3NrZB1GhxpQDW7Q,5.0,1,0,0,My go to spot for my caffeine fix. Great locat...,2014-04-23 13:22:29
30332,6_Zf2QsRHCH1RhbzA9inyw,Starbucks,8602 Hillsborough Ave,Tampa,FL,33615,27.99637,-82.580954,3.0,56,...,"Coffee & Tea, Food","{'Monday': '5:30-21:0', 'Tuesday': '5:30-21:0'...",f3joSrXfEF34tdxwaJ7Xpg,MU8-UoSdKhn12aRr_9fH4w,4.0,0,0,0,I absolutely love this Starbucks - servers are...,2012-12-09 21:01:09
30333,6_Zf2QsRHCH1RhbzA9inyw,Starbucks,8602 Hillsborough Ave,Tampa,FL,33615,27.99637,-82.580954,3.0,56,...,"Coffee & Tea, Food","{'Monday': '5:30-21:0', 'Tuesday': '5:30-21:0'...",WLxbChxV7-KyAPf_yUCC7Q,6yKoiRReZ3qiX2JdqOjwsQ,1.0,0,0,0,Staff isn't very friendly inside they look ver...,2015-08-21 16:32:50
30334,6_Zf2QsRHCH1RhbzA9inyw,Starbucks,8602 Hillsborough Ave,Tampa,FL,33615,27.99637,-82.580954,3.0,56,...,"Coffee & Tea, Food","{'Monday': '5:30-21:0', 'Tuesday': '5:30-21:0'...",lD8tuXOGvEaw0Yi5ELbW3w,HNj9_WYR0fackfH3FVKXbA,1.0,0,1,0,I went into this Starbucks on a Sunday last we...,2016-08-27 17:54:42

In [14]:
# Save df_starbuck in to csv file.
df_starbucks.to_csv('starbucks_df', index = False)